.wall-container {
  box-sizing: initial;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  background-color: rgb(242, 250, 255);
}

.wall-container-out {
  background-color: rgb(242, 250, 255);
}

.mainFeeds {
  height: 100vh;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mainFeeds::-webkit-scrollbar {
    display: none;
}

.mainFeeds {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
