.app-bar {
  background-color: white;
}

.logo-typography {
  color: #285e89;
  font-weight: bold;
  margin-top: 10px;
}

.logo-image {
  width: 60px;
  height: 60px;
}

.btn {
  margin-left: 5px;
}

/* .btn:hover {
  background-color: #359dd9;
} */
