.app-bar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-typography {
  color: #285e89;
  font-weight: bold;
  margin-top: 10px;
}

.logo-image {
  width: 60px;
  height: 60px;
}

/* .btn:hover {
  background-color: #359dd9;
} */
